<div class="container">
    <header class="pageHeader">
      <h3><i class="fa fa-handshake-o fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.Contractors' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <!---- Sample Page Content ---->
        <todo-demo verticalScrollbar="true"></todo-demo>
    </div>
</div>
